/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex {
  display: flex;
}
.container {
  background-color: #657058;
}
.container header {
  height: 200px;
  background-image: url("http://picsum.photos/2000/200");
  width: 100%;
}
.container header nav {
  background-color: #657058;
}
.container header nav a {
  font-size: 1.5em;
  font-family: sans-serif;
  color: #88BB92;
  text-decoration: none;
}
.container header h1 {
  width: 100%;
  position: relative;
  bottom: -80%;
  background-color: #714955;
}
.container .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .content #skills {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  background-color: #714955;
}
.container .content #skills #skill-grid {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.container .content #skills #skill-grid div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .content #right-column {
  width: 50%;
}
.container .content #right-column #profile {
  width: 100%;
}
.container .content #right-column #work-history {
  width: 100%;
}
.container footer {
  text-align: center;
}
